version: '3.8'

services:
  cowrie:
    container_name: honeypot_cowrie
    build: 
      context: ./cowrie
    networks: 
      my_network:
        ipv4_address: 172.20.0.2
    ports:
      - "22:2222"

  syslog:
    container_name: honeypot_syslog
    build: 
      context: ./rsyslog
    networks: 
      my_network:
        ipv4_address: 172.20.0.3
    ports:
      - "514:514/udp"
      - "514:514/tcp"

  rdp:
    container_name: honeypot_rdp
    build: 
      context: ./rdp
    networks: 
      my_network:
        ipv4_address: 172.20.0.4
    ports:
      - "3389:3389"

  mailoney:
    container_name: honeypot_mailoney
    build:
      context: ./mailoney
    networks: 
      my_network:
        ipv4_address: 172.20.0.5
    ports:
      - "2525:2525"
    volumes:
      - ./mailoney_logs:/var/log/mailoney

  
  apache:
    container_name: honeypot_apache
    build:
      context: ./finalweb
      dockerfile: Dockerfile-apache
    networks:
      my_network:
        ipv4_address: 172.20.0.6
    ports:
      - "80:80"

  ldap:
    build: 
      context: ./ldap
    container_name: honeypot_ldap
    networks:
      my_network:
        ipv4_address: 172.20.0.7
    ports:
      - '389:389'
    volumes:
      - ./ldap/logs:/var/log/syslog-ng
    logging:
        driver: "json-file"
        options:
            max-size: "200k"
            max-file: "10"
  db:
    build:
      context: ./finalweb
      dockerfile: Dockerfile-mysql
    container_name: honeypot_mysql
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      my_network:
        ipv4_address: 172.20.0.8

volumes:
  db_data:
 
networks:
  my_network:
    name: honeypot_network
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16
